div#wrapper {
    font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', serif;
    font-size: 16px;
    color: #ffffff;
    text-align: right;
    width: 411px;
    height: 399px;
    border: 1px solid #000000;
    border-radius: 17px;
    margin-top: 25px;
    margin-left: 18px;
    background: #ebff5b; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebff5b), color-stop(1%,#e9fe5b), color-stop(1%,#e9fe57), color-stop(1%,#eafe5e), color-stop(3%,#e5f959), color-stop(3%,#e7f85a), color-stop(4%,#e4f859), color-stop(6%,#e2f55b), color-stop(8%,#ddf058), color-stop(10%,#daec5a), color-stop(12%,#d7e957), color-stop(14%,#d4e559), color-stop(15%,#d1e256), color-stop(17%,#cfdf58), color-stop(20%,#c8d955), color-stop(22%,#c8d756), color-stop(22%,#c5d656), color-stop(27%,#bece54), color-stop(27%,#bfcc56), color-stop(28%,#bccb54), color-stop(28%,#bdca56), color-stop(29%,#b9c853), color-stop(30%,#b9c755), color-stop(38%,#abb751), color-stop(46%,#9fa952), color-stop(48%,#99a54f), color-stop(48%,#9ba451), color-stop(49%,#97a34f), color-stop(53%,#939b50), color-stop(56%,#8c964d), color-stop(56%,#8e954f), color-stop(57%,#8a944d), color-stop(58%,#8c934f), color-stop(61%,#848d4c), color-stop(63%,#83894d), color-stop(65%,#7d854a), color-stop(66%,#7c834d), color-stop(78%,#696d48), color-stop(79%,#676d4b), color-stop(81%,#636647), color-stop(83%,#606449), color-stop(85%,#5c5e46), color-stop(88%,#585b48), color-stop(92%,#505245), color-stop(93%,#515147), color-stop(94%,#4d4f44), color-stop(96%,#4c4b46), color-stop(98%,#474843), color-stop(99%,#454545), color-stop(100%,#454543)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ebff5b 0%,#e9fe5b 1%,#e9fe57 1%,#eafe5e 1%,#e5f959 3%,#e7f85a 3%,#e4f859 4%,#e2f55b 6%,#ddf058 8%,#daec5a 10%,#d7e957 12%,#d4e559 14%,#d1e256 15%,#cfdf58 17%,#c8d955 20%,#c8d756 22%,#c5d656 22%,#bece54 27%,#bfcc56 27%,#bccb54 28%,#bdca56 28%,#b9c853 29%,#b9c755 30%,#abb751 38%,#9fa952 46%,#99a54f 48%,#9ba451 48%,#97a34f 49%,#939b50 53%,#8c964d 56%,#8e954f 56%,#8a944d 57%,#8c934f 58%,#848d4c 61%,#83894d 63%,#7d854a 65%,#7c834d 66%,#696d48 78%,#676d4b 79%,#636647 81%,#606449 83%,#5c5e46 85%,#585b48 88%,#505245 92%,#515147 93%,#4d4f44 94%,#4c4b46 96%,#474843 98%,#454545 99%,#454543 100%); /* Chrome10+,Safari5.1+ */
    margin-right:15px;
}

    div#wrapper form fieldset {
        border: 3px solid #555555;
        margin-left: 15px;
        margin-right: 16px;
       border-radius: 4px;
    }

form fieldset:last-of-type {
    margin-bottom:9px;
}

form:first-child {
    margin-top: 15px;
}

fieldset legend {
    font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', serif;
    font-size: 21px;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    padding-left: 15px;
    padding-right: 13px;
}

form input[type="text"], input[type="password"] {
    background: #e8fc5c; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8fc5c), color-stop(24%,#c1cf54), color-stop(32%,#b5c354), color-stop(60%,#868f4c), color-stop(100%,#474745)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e8fc5c 0%,#c1cf54 24%,#b5c354 32%,#868f4c 60%,#474745 100%); /* Chrome10+,Safari5.1+ */
    border: 2px solid #444444;
    border-radius: 4px;
    width: 161px;
    height: 25px;
    margin: 5px 0 0 0;
    color:#ffffff;
    padding-left: 18px;
}

    input[type="password"]:last-of-type {
        margin-bottom:-5px;
    }

input[type="number"] {
    background: #e8fc5c; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8fc5c), color-stop(24%,#c1cf54), color-stop(32%,#b5c354), color-stop(60%,#868f4c), color-stop(100%,#474745)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e8fc5c 0%,#c1cf54 24%,#b5c354 32%,#868f4c 60%,#474745 100%); /* Chrome10+,Safari5.1+ */
    border: 2px solid #444444;
    border-radius: 4px;
    width: 41px;
    height: 26px;
    margin: 4px 0 -20px 0;
    padding-left: 5px;
    color: #ffffff;
}

input[type="reset"], button {
    background: #e3fd28; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3fd28), color-stop(99%,#464644)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e3fd28 0%,#464644 100%); /* Chrome10+,Safari5.1+ */
    width: 141px;
    height: 33px;
    border-radius: 4px;
    -webkit-box-shadow: #000000 0px  1px inset;
    box-shadow: #000000 0px 1px;
    border: none;
    color: #333333;
    font-family: Arial, Helvetica,'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif, sans-serif;
    font-size: 19px;
    margin-top: 15px;
}
input[type="reset"]:hover, button:hover{
    background:#f1ff8e;
}

input[type="reset"] {
    margin-right: 15px;
    width: 119px;
}

input[type="radio"] {
    display: none;
}

form > label:last-of-type {
    margin-right:15px;
}

input[type="radio"]:checked + label {
    font-weight: bold;
    font-size: 18px;
}
