<h1>Register / Login</h1>
<div id="login-form">
    <label for="login-username">Username: </label>
    <input type="text" size="25" id="login-username" />
    <br />
    <label for="login-password">Password: </label>
    <input type="password" id="login-password" />
    <br />
    <button id="login">Login</button>
</div>
<div id="register-form" style="display: none">
    <label for="register-username">Username: </label>
    <input type="text" size="25" id="register-username" />
    <br />
    <label for="register-displayName">Display name: </label>
    <input type="text" size="25" id="register-displayName" />
    <br />
    <label for="register-password">Password: </label>
    <input type="password" id="register-password" /><br />
    <button id="register">Register</button>
</div>
<button id="open-login-form">Login</button>
<button id="open-reg-form">Register</button>