USE [master]
GO
/****** Object:  Database [World]    Script Date: 14.9.2013 г. 02:37:43 ч. ******/
CREATE DATABASE [World]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [World].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [World]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 14.9.2013 г. 02:37:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NOT NULL,
	[CountryId] [varchar](3) NOT NULL,
	[CityPopulation] [int] NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Continents]    Script Date: 14.9.2013 г. 02:37:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Continents](
	[ContinentId] [int] IDENTITY(1,1) NOT NULL,
	[ContinentName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Continents] PRIMARY KEY CLUSTERED 
(
	[ContinentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 14.9.2013 г. 02:37:43 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [varchar](3) NOT NULL,
	[CountryName] [varchar](52) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[SurfaceArea] [float] NOT NULL,
	[ContinentId] [int] NULL,
	[Population] [int] NOT NULL,
	[FlagImage] [image] NULL,
	[Language] [nvarchar](70) NULL,
 CONSTRAINT [PK__countrie__D320769C0449E083] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityID], [CityName], [CountryId], [CityPopulation], [Latitude], [Longitude]) VALUES (0, N'Karachi', N'PAK', 25000, 24, 67)
INSERT [dbo].[Cities] ([CityID], [CityName], [CountryId], [CityPopulation], [Latitude], [Longitude]) VALUES (7, N'Mountain View', N'USA', 17025, 37.42, -122.06)
INSERT [dbo].[Cities] ([CityID], [CityName], [CountryId], [CityPopulation], [Latitude], [Longitude]) VALUES (8, N'Beijing', N'CHN', 123654, 39.93, 116.39)
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[Continents] ON 

INSERT [dbo].[Continents] ([ContinentId], [ContinentName]) VALUES (1, N'South America')
INSERT [dbo].[Continents] ([ContinentId], [ContinentName]) VALUES (2, N'North America')
INSERT [dbo].[Continents] ([ContinentId], [ContinentName]) VALUES (3, N'Asia')
SET IDENTITY_INSERT [dbo].[Continents] OFF
INSERT [dbo].[Countries] ([CountryId], [CountryName], [Latitude], [Longitude], [SurfaceArea], [ContinentId], [Population], [FlagImage], [Language]) VALUES (N'ARG', N'Argentina', -34.36, -58.23, 2780400, 1, 41660417, NULL, N'Spanish')
INSERT [dbo].[Countries] ([CountryId], [CountryName], [Latitude], [Longitude], [SurfaceArea], [ContinentId], [Population], [FlagImage], [Language]) VALUES (N'BRA', N'Brazil', -10, -55, 8547403, 1, 170115000, NULL, N'Portuguese')
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Continents] FOREIGN KEY([ContinentId])
REFERENCES [dbo].[Continents] ([ContinentId])
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_Countries_Continents]
GO
USE [master]
GO
