ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    border: 1px solid #000000;
    display: block;
    width: 300px;
    height: 20px;
    padding: 10px;
}

.hidden > * :not(ul) {
    display: none;
}

#enlarged-image-holder {
    position:absolute;
    top: 30px;
    left: 800px;
}