* {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

#wrapper {
    margin-top: 210px;
    margin-left: 50px;
}

.msg-bar {
    position: relative;
}

ul.msg-bar > li {
    list-style-type: none;
    display: inline-block;
}

.msg-bar li a {
    text-decoration: none;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    color: #0094ff;
    border: 1px solid #000000;
    background: #abffef; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abffef), color-stop(17%,#abffef), color-stop(21%,#a7ffef), color-stop(90%,#26fed5), color-stop(93%,#21ffd6), color-stop(100%,#13ffd1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #abffef 0%,#abffef 17%,#a7ffef 21%,#26fed5 90%,#21ffd6 93%,#13ffd1 100%); /* Chrome10+,Safari5.1+ */
    padding: 5px 15px 5px 15px;
}

.msg-bar .msg-bar-content {
    display: none;
}

ul.msg-bar li a:hover {
    background: #00ddb3;
    border-top: none;
}

    ul.msg-bar li a:hover + .msg-bar-content {
        display: block;
        position: absolute;
        top: -164px;
        left: 0px;
        height: 154px;
        width: 460px;
        background: #aaffef;
        border: 1px solid #000000;
        border-bottom: none;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }


ul li.me-item span.user {
    color: #2695fd;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 15px;
    background-image: url('imgs/me.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left:15px;
}

.msg-bar-content ul li {
    padding-right: 20px;
}

ul li.other-item span.user {
    color: #2695fd;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 15px;
    background-image: url('imgs/male.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left:15px;
    display:inline-block;
f
}

ul li.me-item span, li.other-item span {
    color: #2695fd;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    font-size: 16px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
    border-bottom: 1px solid #000000;
}
