#wrapper {
    margin-left: 50px;
}

    #wrapper a {
        font: normal 16px Tahoma;
        text-decoration: none;
        color: #000000;
    }

        #wrapper a.current {
            font-weight: bold;
        }

    #wrapper fieldset {
        border: 5px solid #000000;
        width: 439px;
        height: 160px;
        background: #fefefe; /* Old browsers */
        background: -moz-linear-gradient(top, #fefefe 0%, #595959 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#595959)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fefefe 0%,#595959 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fefefe 0%,#595959 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #fefefe 0%,#595959 100%); /* IE10+ */
        background: linear-gradient(to bottom, #fefefe 0%,#595959 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#595959',GradientType=0 ); /* IE6-9 */
        background-repeat:no-repeat;
    }

        #wrapper fieldset legend {
            font: bold italic 20px Tahoma;
            padding:5px;
        }
